{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-function-bind"
  ]
}
