{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["__"] }]
  }
}
